<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <div style="display: grid; place-items: center;">
        <img src="/res/assets/404.svg" style="width: 400px;" alt="Página não existe">
        <h1 style="font-family: Helvetica; font-weight: 500;">Essa página não exite</h1>
        <a href="/" style="text-decoration: none; color: #fff; padding: 10px; background-color: #47e574; border-radius: 5px;">Voltar para à Home</a>
    </div>
</body>
</html>